<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GameServerIP" value="127.0.0.1"/>
    <add key="GameServerPort" value="4001"/>

    <add key="LoginServerIP" value="127.0.0.1"/>
    <add key="LoginServerPort" value="2106"/>

    <add key="DbConnectionString" value="Server=localhost;Database=tabuladb;Uid=root;Pwd=totara;"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
