<!--<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <providers resource="providers.config" />
  
  --><!-- Example ADO.NET DAO Configuration --><!--
  <context id="SimpleDao" default="true">
    <properties resource="properties.config"/>
    <database>
      --><!-- Optional ( default ) --><!--
      <provider name="sqlServer1.1"/>
      <dataSource name="iBatisNet"
      connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};"/>
    </database>
    <daoFactory>
      <dao interface="IBatisNet.Test.Dao.Interfaces.IAccountDao, IBatisNet.Test"
      implementation="IBatisNet.Test.Dao.Implementations.Ado.AccountDao, IBatisNet.Test"/>
    </daoFactory>
  </context>
  
  --><!-- Example SQL Maps DAO Configuration --><!--
  <context id="SqlMapDao">
    <properties resource="properties2.config"/>
    <database>
      <provider name="OleDb1.1"/>
      <dataSource name="iBatisNet"
      connectionString="Provider=SQLOLEDB;Server=${database};database=IBatisNet;user id=${userid};password=${password};"/>
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config"/>
      --><!--
url and embedded options are also available
<property name="url" value="C:\iBATIS\IBatisNet.DataAccess.Test\bin\Debug\SqlMap.config"/>
<property name="embedded" value="bin.Debug.SqlMap.config, IBatisNet.DataAccess.Test"/>
--><!--
    </daoSessionHandler>
    <daoFactory>
      <dao interface="IBatisNet.Test.Dao.Interfaces.IAccountDao, IBatisNet.Test"
      implementation="IBatisNet.Test.Dao.Implementations.DataMapper.AccountDao, IBatisNet.Test"/>
    </daoFactory>
  </context>
  
</daoConfig>-->